* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 22px;
  text-align: center;
}

#profile-pic {
  width: 25%;
  max-width: 125px;
  height: auto;
  border-radius: 20px;
}

#profile-credentials #first {
  margin-top: 7px;
  font-family: sans-serif;
  font-weight: bold;
}

#profile-credentials #second {
  margin-top: 3px;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  color: rgb(116, 115, 115);
}

#credentials-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.credentials {
  margin: 20px 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credentials span {
  font-size: 12px;
}

.box1,
.box2,
.box3 {
  width: 125px;
  background-color: rgb(229, 226, 226);
  padding: 12px 0;
  border-radius: 4px;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 115px);
  grid-gap: 15px;
}

#container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#container .sec {
  grid-column: 2 / -1;
}

#container .third {
  grid-column: 1 / span 2;
}

#container .fourth {
  height: 250px;
}
